@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="text-center">
    <h1 class="display-4">EXamen Truper</h1>
    <p>Proyecto desarrollado para el examne de Desarrollador de Microservicios con .NET Core.</p>
  

    <hr />

    <div>
        <h3><b>@User.Identity.Name</b>, bienvenido.</h3>
    </div>
</div>
